html,body{
    height: 100%;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}
p{
    text-align:justify;
    text-justify: inter-ideograph;
}
ul{
    list-style-type: none;
}
img{
    border:0;
    vertical-align:bottom;
}
header{
    background-color: #f8f8f8;
    border-bottom: 2px solid #ab1314;
}
header .col-md-8{
    display: flex;
    align-items: center;
    height: 80px;
}
header .col-md-4{
    display: flex;
    align-items: center;
    height: 80px;
}
header .col-md-8 img{
    height: 40px;
    display: inline-block;
}
header .col-md-8 p{
    font-size: 20px;
    color: rgba(171, 19, 20, 0.76);
    display: inline-block;
    margin-top: 26px;
    margin-left: 40px;
}
header .col-md-4 span{
    font-size: 16px;
    color: #9e9e9e;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #e6e6e6;
    line-height: 16px;
}
header .col-md-4 span:hover{
    color: #4f5157;
}
header .col-md-4 span:nth-last-of-type(1){
    border-right: none;
}
.in{
    padding: 0;
}
.in_bg{
    height: 280px;
    background: url("../images/geren_bg.png");
    padding: 0
}
.in_bg .black_line{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 0;
    margin-top: 220px;
    position: relative;
}
.in_bg .black_line img{
    height: 80px;
    width: 80px;
    border: 4px solid rgba(0, 0, 0, 0.21);
    border-radius: 80px;
    position: absolute;
    margin-left: 30px;
    top: -38px;
}
.in_bg .black_line .col-md-6 span{
    margin-top: 15px;
    margin-right: 70px;
    font-size: 16px;
    color: white;
    /*border: 1px solid red;*/
    height: 30px;
    line-height: 28px;
    width: 70px;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
}
.in_bg .black_line .col-md-6 span:nth-last-of-type(1){
    margin-right: 0;
}
.in_bg .black_line .col-md-6 span:hover{
    background-color: rgba(0, 0, 0, 0.71);
}