<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheet/pic_news.css">
    <link rel="stylesheet" href="stylesheet/bootstrap.min.css">
    <script src="js/jquery2.0.0.min.js"></script>
    <script src="js/news.js"></script>
</head>
<body>
<header>
    <div class="top_line">
        <span>推荐</span>
        <span>热点</span>
        <span>视频</span>
        <span>图片</span>
        <span>段子</span>
        <span>社会</span>
        <span>娱乐</span>
        <span>科技</span>
        <span>体育</span>
        <span>汽车</span>
        <span>财经</span>
        <span>搞笑</span>
        <span id="more">更多<i class="glyphicon glyphicon-chevron-down" id="jiantou"></i></span>
        <div class="top_line_more">
            <div class="triangle_box">
                <div class="triangle-up"></div>
            </div>
            <p>探索</p>
            <p>育儿</p>
            <p>养生</p>
            <p>故事</p>
            <p>美文</p>
            <p>游戏</p>
            <p>历史</p>
            <p>美食</p>
        </div>
    </div>
</header>
<div>
    <div class="select_box col-md-12">
        <div class="col-md-offset-1 col-md-10">
            <div>
                <img src="images/logo_zi.png">
                <input type="text">
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <h4>登录</h4>
        </div>
    </div>
    <div class="in_box col-md-12">
        <div class="zhengwen col-md-offset-1 col-md-10">
            <p class="nav_p"><a href="index.html">首页</a>&gt;<a href="index.html">科技</a>&gt;<a href="index.html">正文</a></p>
            <div class="col-md-8 pic_box">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">

                </div>
            </div>
            <div class="col-md-4">
                <h3>小女孩每天被继父虐待，直到一群彪形大汉来到她家，结局出现逆转</h3>
                <p><span>1</span> / 6</p>
                <p>美国一名女孩（未公布真实姓名，网名FA），在10岁之前时，由于母亲再嫁，每天受到继父的虐待，整天生活在噩梦之中。母亲知道真相后，与继父离婚，并决定将他送进监狱。</p>
                <span>原创</span>
                <p>2016-09-12 21:28</p>
            </div>
        </div>
        <div class="people col-md-offset-1 col-md-10">
            <div class="col-md-6">
                <img src="images/logo.png">
                <h4>历史的惊叹号</h4>
            </div>
            <div class="col-md-6">
                <span>分享到：</span>
                <img src="images/weixin.png">
                <img src="images/qqkj.png">
                <img src="images/sina.png">
                <span>收藏</span>
            </div>
        </div>
        <div class="xiangguan col-md-offset-1 col-md-10">
            <h4>相关推荐</h4>
            <div class="col-md-3">
                <img src="images/pic_news2.jpg" class="col-md-12">
                <p class="col-md-12 xg_p">一张图片告诉你，911有多恐怖</p>
            </div>
            <div class="col-md-3">
                <img src="images/pic_news2.jpg" class="col-md-12">
                <p class="col-md-12 xg_p">一张图片告诉你，911有多恐怖</p>
            </div>
            <div class="col-md-3">
                <img src="images/pic_news2.jpg" class="col-md-12">
                <p class="col-md-12 xg_p">一张图片告诉你，911有多恐怖</p>
            </div>
            <div class="col-md-3">
                <img src="images/pic_news2.jpg" class="col-md-12">
                <p class="col-md-12 xg_p">一张图片告诉你，911有多恐怖</p>
            </div>
        </div>
        <div class="pinglun col-md-offset-1 col-md-7">
            <h4>文章评论</h4>
            <div class="pinglun_box">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="images/morentouxiang.png" alt="新闻图片">
                    </a>
                    <div class="media-body">
                        <textarea rows="5"></textarea>
                        <div class="pinglun_btn_box">
                            <button class="pinglun_btn">发表</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="people_pl">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="images/pinglun_touxiang.png" alt="新闻图片">
                    </a>
                    <div class="media-body">
                        <h5>印第安纳囧</h5>
                        <p>一分为二的说吴悠这场比赛确实没什么大动作，我不喜欢吴悠，喜欢赵强。但是确实昆明这边动作太烂了，各种黑肘，各种垫脚。我就在场边全场观看。美女裁判真的是太美了，180左右，太有气质了。</p>
                        <span>09-12 10:22</span>
                    </div>
                </div>
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="images/pinglun_touxiang.png" alt="新闻图片">
                    </a>
                    <div class="media-body">
                        <h5>印第安纳囧</h5>
                        <p>他还不懂街球的真正含义，街球玩的是技术技巧，人球结合，不是为了进球不折手段</p>
                        <span>09-12 10:22</span>
                    </div>
                </div>
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="images/pinglun_touxiang.png" alt="新闻图片">
                    </a>
                    <div class="media-body">
                        <h5>路人甲乙丙丁</h5>
                        <p>一分为二的说吴悠这场比赛确实没什么大动作，我不喜欢吴悠，喜欢赵强。但是确实昆明这边动作太烂了，各种黑肘，各种垫脚。我就在场边全场观看。美女裁判真的是太美了，180左右，太有气质了。</p>
                        <span>09-12 10:22</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="jingcai col-md-3">
            <h4>精彩图片</h4>
            <div class="col-md-12 jingcai_div">
                <img src="images/pic_news2.jpg" class="col-md-12">
                <p class="col-md-12 jc_p">一张图片告诉你，911有多恐怖</p>
            </div>
            <div class="col-md-12 jingcai_div">
                <img src="images/pic_news2.jpg" class="col-md-12">
                <p class="col-md-12 jc_p">一张图片告诉你，911有多恐怖</p>
            </div>
            <div class="col-md-12 jingcai_div">
                <img src="images/pic_news2.jpg" class="col-md-12">
                <p class="col-md-12 jc_p">一张图片告诉你，911有多恐怖</p>
            </div>
        </div>
    </div>
</div>
<footer>

</footer>
</body>