<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheet/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheet/select.css">
    <script src="js/jquery2.0.0.min.js"></script>
</head>
<body>
<header class="col-md-12">
    <div class="col-md-offset-1 col-md-10">
        <div class="col-md-8">
            <img src="images/people_logo.png">
            <p>你关心的 才是新闻</p>
        </div>
        <div class="col-md-4">
            <span>登录</span>
            <span>头条号</span>
            <span>修改</span>
        </div>
    </div>
</header>
<div class="col-md-10 col-md-offset-1">
    <div class="col-md-8 in">
        <input type="text" class="col-md-12 in_input">
        <span class="glyphicon glyphicon-search"></span>
        <button type="button">搜 索</button>
        <h4>搜索结果：</h4>
        <div class="col-md-12 select_list">
            <div class="col-md-8">
                <h2>太难了有木有！<span>薛之谦</span>这首歌一般唱K都不敢点！ </h2>
                <p><i class="glyphicon glyphicon-thumbs-up"></i> 86</p>
                <p><i class="glyphicon glyphicon-thumbs-down"></i> 86</p>
                <p> 娱乐搬运君&nbsp;&nbsp;&nbsp;02:49 </p>
            </div>
            <img src="images/pic_news_1.jpg" class="col-md-4">
        </div>
        <div class="col-md-12 select_list">
            <div class="col-md-8">
                <h2>太难了有木有！<span>薛之谦</span>这首歌一般唱K都不敢点！ </h2>
                <p><i class="glyphicon glyphicon-thumbs-up"></i> 86</p>
                <p><i class="glyphicon glyphicon-thumbs-down"></i> 86</p>
                <p> 娱乐搬运君&nbsp;&nbsp;&nbsp;02:49 </p>
            </div>
            <img src="images/pic_news_1.jpg" class="col-md-4">
        </div>
        <div class="col-md-12 select_list">
            <div class="col-md-8">
                <h2>太难了有木有！<span>薛之谦</span>这首歌一般唱K都不敢点！</h2>
                <p><i class="glyphicon glyphicon-thumbs-up"></i> 86</p>
                <p><i class="glyphicon glyphicon-thumbs-down"></i> 86</p>
                <p> 娱乐搬运君&nbsp;&nbsp;&nbsp;02:49 </p>
            </div>
            <img src="images/pic_news_1.jpg" class="col-md-4">
        </div>
        <div class="col-md-12 select_list">
            <div class="col-md-8">
                <h2>太难了有木有！<span>薛之谦</span>这首歌一般唱K都不敢点！</h2>
                <p><i class="glyphicon glyphicon-thumbs-up"></i> 86</p>
                <p><i class="glyphicon glyphicon-thumbs-down"></i> 86</p>
                <p> 娱乐搬运君&nbsp;&nbsp;&nbsp;02:49 </p>
            </div>
            <img src="images/pic_news_1.jpg" class="col-md-4">
        </div>
    </div>
    <div class="col-md-4 hot">
        <h3>热门评论</h3>
        <div class="hot_list">
            <img src="images/logo.png" class="touxiang">
            <h4>和田光司</h4>
            <h5><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;&nbsp;&nbsp;86</h5>
            <div class="qipao">
                <div class="triangle-up"></div>
                <p>不作死就不会死，哎嘘</p>
            </div>
            <div class="where_from">
                <p>评论于：</p>
                <p>没有恐高症的女孩 敢于拿生命拍照的人</p>
            </div>
        </div>
        <div class="hot_list">
            <img src="images/logo.png" class="touxiang">
            <h4>和田光司</h4>
            <h5><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;&nbsp;&nbsp;86</h5>
            <div class="qipao">
                <div class="triangle-up"></div>
                <p>不作死就不会死，哎嘘</p>
            </div>
            <div class="where_from">
                <p>评论于：</p>
                <p>没有恐高症的女孩 敢于拿生命拍照的人</p>
            </div>
        </div>
        <div class="hot_list">
            <img src="images/logo.png" class="touxiang">
            <h4>和田光司</h4>
            <h5><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;&nbsp;&nbsp;86</h5>
            <div class="qipao">
                <div class="triangle-up"></div>
                <p>不作死就不会死，哎嘘</p>
            </div>
            <div class="where_from">
                <p>评论于：</p>
                <p>没有恐高症的女孩 敢于拿生命拍照的人</p>
            </div>
        </div>
    </div>
</div>
<footer>

</footer>
</body>
</html>